
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

div.image{
	height:435px;
	width:370px;
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	float:left;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:15px;
margin-right:20px;
margin-top:20px;
}
div#caption{
	overflow:hidden;
	height:85px;
}

div#imageFrame{
	padding-left:15px;
}

#images{
	margin-left:3%;
	height:100%;
	widht:100%;
	padding-left:4%;
}

.jumbotron{
	 padding-bottom: 20px !important;
}